//reads csv file as input
input weather_data1.csv;
// Converts CSV file into data frame
df=df_filled
//obtained from EXAMPLE CODE 1
df2 =read('weather_data1.csv')
// Merge the two datasets on 'Date'
merged_df = pd.merge(df, df2, on='Date', how='outer',suffixes=('_1', '_2')));
// Interpolate missing values
interpolated_df = merged_df.interpolate(inplace=’False’);
// Print the first few rows of the merged and interpolated data
interpolated_df.head();